* {
  font-family:  "Inter", sans-serif;
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 80px 88vh 80px;
  grid-template-areas: 
  "header"
  "nav"
  "content"
  "footer";
}

header {
  grid-area: header;
  background-color: black;
  display: flex;
  align-items: center;
  column-gap: 30% ;
  padding-left: 4rem;
  color: white;
}

nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px;
  grid-template-areas: 
  "menu-area logo-area list-area";
  background-color: white;
  padding: 0 .5rem;
}

/* menu area */
.menu-area {
  grid-area: menu-area;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2rem;
}

.menu-icon{
  display: flex;
  align-items: center;
 padding: 0rem 0 0.2rem 0;
}
/* logo area */
.logo-area {
  grid-area: logo-area;
  display: flex;
  justify-content: center;
}
/* logo */
.logo {
  padding: 0.5rem 0;
}
.logo:hover {
  cursor: pointer;
}

/* list area (searchbar + profile, heart, bag icons) */
.list-area {
  grid-area: list-area;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* list */
.list-nav:hover {
  cursor: pointer;
}
.list-nav:after{
  content: '';
  list-style: none;
  padding: 0rem 0.5rem 0rem 0rem;
  height: 3px;
  width: 0%;
  background-color: #ffffff;
  display: block;
  cursor: pointer;
}

.list-nav:hover::after, .list-headline:hover::after {
  content: '';
  height: 3px;
  width: 40%;
  background-color: #a19494;
  transition: .5s ease-in-out;
  border-radius: 0 0.25rem 0 0.25rem;
  cursor: pointer;
  
}
.searchbar-button {
  background-color: transparent;
  border: none;
  border-radius: 0.75rem;
  padding: 0.25rem 0.25rem 0.1rem 0.25rem;
}
.searchbar-button:hover {
  cursor: pointer;
  background-color: rgba(68, 68, 68, 0.1);
  transition: .5s ease;
}

.icon {
  height: 40px;
  width: 40px;
}


/* searchbar */
/* https://www.youtube.com/watch?v=9hnJsNIBq1g */
.search_icon {
  height: 32.5px;
  width: 32.5px;
}
/* list tag, including input */
.searchbox {
  width: 15rem;
}
/* input searchbar */
.searchbar{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
}
/* searchbar */
/* https://www.youtube.com/watch?v=9hnJsNIBq1g */
.search_icon {
  height: 32.5px;
  width: 32.5px;
}
/* list tag, including input */
.searchbox {
  width: 15rem;
}
/* input searchbar */
.searchbar{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
}






/* CONTENT */
content {
  grid-area: content;
}
/* headline, p and product image attributes */

.h2-header{
  font-weight: bolder;
  width: 5rem;
}

.size-text{
  margin: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.productimage{
height: 100%;
  bottom: 0px;
  width: 40%;
  object-fit: cover;
}


/* item flexbox and content such as description, name, size etc */

.item-container {
  display:flex;
  flex-direction: row;
  height: 88vh;
  width: 100vw;
}

.item-textbox{
display: flex;
flex-direction: column;
padding-left: 120px;
width: 50vw;
margin-top: 100px;
}

.item-price{
  border-bottom: 2px solid black;
  width: 170px;
  margin-right: 0;
  font-size: 1rem;
  display: flex;
  align-items:center;
}

/* size dropdown menu */


.sizes-title {
position: relative;
display: inline-block;
border-bottom: 2px solid black;
width: 170px;
cursor: pointer;
font-weight: bolder;
}


.sizes-title:hover .arrow-down-detailed{
animation-name: dropdown-arrow;
animation-duration: infinite;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
transform: rotate(180deg);
transition: 0.7s;

}


/* the following dropdown menu is from source and has been adapted https://www.w3schools.com/css/css_dropdowns.asp */


.sizes-dropdown {
display: none;
position: absolute;
background-color: #ffffff;
width: 170px;
border: solid #dedede;
}

.sizes-dropdown .sizes-text {
color: black;
font-weight: normal;
padding: 12px 16px;
margin: 0px;
text-decoration: none;
display: block;
}

.sizes-dropdown p:hover { 
background-color: #dedede;
cursor: pointer;
}

.sizes-title:hover .sizes-dropdown { 
display: block;
}

/* material and care dropdown menu */


.material-title{
  border-bottom: 2px solid black;
  width: 170px;
  margin-right: 0;
  cursor: pointer;
  font-size: 1rem;
}
.h2-header1 {
  width: 140px;
  display: inline-block;
}

.material-title:hover .arrow-down-detailed2{
animation-name: dropdown-arrow;
animation-duration: infinite;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
transform: rotate(180deg);
transition: 0.7s;
cursor: pointer;
}


.material-dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 170px;

}

.material-dropdown p {
  color: black;
  font-weight: normal;
  margin: 0px;
  text-decoration: none;
  display: block;
}


.material-title:hover .material-dropdown { 
display: block;
}

/* heart and arrow down icons */

.heart-detailed, .arrow-down-detailed{
height: 20px;
cursor: pointer;
transition: 0.7s;
margin-left: 70px;
}

.arrow-down-detailed2 {
  height: 20px;
  display: inline-block;
  cursor: pointer;
  transition: 0.7s;
  margin-left: 5px;

}

.arrow-down-detailed:hover .arrow-down-detailed2:hover{ 
animation-name: dropdown-arrow;
animation-duration: infinite;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
transform: rotate(180deg);
transition: 0.7s;

}
.arrow-down-detailed {
  margin-left: 113px;
}
.h2-header2 {
  display: inline-block;
}

/* the following transform code is from source and has been adapted https://stackoverflow.com/questions/22754040/text-rotation-with-google-chrome-using-css */

/* vertial aquadora */

#vertical-item-name{
position:absolute;
bottom: 22.8%;
right:7%;
height: 40px;
line-height: 40px;
transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
color: lightgrey;
font-size: 60px;
font-weight: normal;
transform-origin: 100% 0;
}

/* add to cart button */

.checkout-button-detailed {
display: flex;
align-items: center;
font-size: 1.5rem;
font-weight: 200;
font-family: Verdana, Tahoma, sans-serif;
padding: 1rem 4rem;
background-color: #E5C89B;
border-radius: 0;
margin-top: 100px;
margin-left: 200px;
height: 8rem;
border: 0;

  /* https://stackoverflow.com/questions/16644726/css-making-a-buttons-background-color-two-different-solid-colors-not-gradient */
background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgb(255,255,255) 51%);
}

.checkout-button-detailed:hover {
  background-color: rgb(212, 184, 142);
}




/* CONTENT */
/* category-slideIn  */
.category-slideIn {
  position: absolute;
  left: -25rem;
  width: 25rem;
  height: 90%;
  background: rgb(255, 255, 255);
  transition: .4s;
}
.list-category-nav {
  display: flex;
  flex-direction: column;
  padding: 4rem 0rem 0rem 4rem;
  font-size: 1.5rem;
  font-weight: 200;
  list-style: none;
  white-space:pre
}
.list-headline-nav {
  font-size: 2rem;
  font-weight: 300;
}
.list-headline-nav:hover {
  cursor: pointer;
}
.list-whitespace {
  visibility: hidden;
}
.category-slideIn.active {
  left: 0;
}


/* cart-slideIn */
/* https://www.youtube.com/watch?v=rGAbT8ykGB0 */
.cart-slideIn {
  position: absolute;
  right: -25rem;
  width: 25rem;
  height: 90%;
  background: rgb(255, 255, 255);
  transition: .4s;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "."
  "."
  "."
  "."
  "checkout";
  
}
.cart-slideIn.active {
  right: 0;
}
.cart-underline {
  border-bottom: 2px solid black;
}
.list-cart-nav {
  padding: 4rem 0rem 0rem 4rem;
  font-size: 1.5rem;
  font-weight: 200;
}
.checkout-area-nav {
  grid-area: checkout;
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 3rem 0rem;

}
.checkout-button-nav {
  display: flex;
  align-items: center;
  border: 0;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 3rem 4rem;
  background-color: #E5C89B;
  border-radius: 0;

  /* https://stackoverflow.com/questions/16644726/css-making-a-buttons-background-color-two-different-solid-colors-not-gradient */
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgb(255,255,255) 51%);
}
.checkout-button-nav:hover {
  background-color: rgb(212, 184, 142);
  cursor: pointer;
}





footer {
  grid-area: footer;
  z-index: 1;
}

.footersquare{
  margin-top: 150px;
  border-radius: 10px;
  width: 100%;
}
.headline-footer{
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  text-align:start;
  color: black;
}
.li-footer{
  font-size: 1rem;
  list-style-type: none;
  text-align: start;
  color: black;
  cursor: pointer;

}
.li-footer:hover{
  text-decoration: underline;

}
.ul-footer{
  list-style-position: inside;
  padding-left: 0;
}
.content{
  background-color: white;
  width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 2rem 6rem;
  grid-template-areas: "1 . 3"
  ". 2 .";
}
.img-footer{
  height: 50px;
}
.payments{
  grid-area: 2;
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

/* add to cart button */

.checkout-button-detailed {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: Verdana, Tahoma, sans-serif;
  padding: 1rem 4rem;
  background-color: #E5C89B;
  border-radius: 0;
  margin-top: 100px;
  margin-left: 200px;
  border: 0;
  
    /* https://stackoverflow.com/questions/16644726/css-making-a-buttons-background-color-two-different-solid-colors-not-gradient */
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgb(255,255,255) 51%);
  }

  .checkout-button-detailed:hover {
    background-color: rgb(212, 184, 142);
  }

  @media screen and (max-width: 700px){
    .searchbox{
      display: none;
    }
  }