body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 80px 80vh 80px;
  grid-template-areas: 
  "header"
  "nav"
  "content"
  "footer";
}

header {
  grid-area: header;
  background-color: black;
  display: flex;
  align-items: center;
  column-gap: 30% ;
  padding-left: 4rem;
  color: white;
}


nav {
  grid-area: nav;
  background-color: rgb(0, 77, 0);
}

content {
  grid-area: content;
  background-color: rgb(0, 158, 0);
}

footer {
  grid-area: footer;
  background-color: rgb(0, 193, 0);
}

@media screen and (max-width: 1000px){
  .header-text2{
    display: none;
  }
}

@media screen and (max-width: 700px){
  .header-text3{
    display: none;
  }
}