body{
    margin: 0;
}

body, html{
    height: 100%;
}

.landingpageimg img {
    background-image: url("landingpageimg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

}

.categories{
    display: flex;   
    justify-content: center;
    flex-direction:row;
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto auto; */
    column-gap: 80px;    
    position: fixed;   
    bottom: 0%;
    color: white;
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
}




