body{
    margin: 0%;
}

.footersquare{
    margin-top: 150px;
    border-radius: 10px;
    width: 100%;
}
.headline-footer{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    text-align:start;
    color: black;
}
.li-footer{
    font-size: 1rem;
    list-style-type: none;
    text-align: start;
    color: black;
    cursor: pointer;

}
.li-footer:hover{
    text-decoration: underline;

}
.ul-footer{
    list-style-position: inside;
    padding-left: 0;
}
.content{
    background-color: white;
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 2rem 6rem;
    grid-template-areas: "1 . 3"
    ". 2 .";
}
.img-footer{
    height: 50px;
}
.payments{
    grid-area: 2;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}


