body {
    margin: 0;
  @ -31,6 +30,9 @@ footer {
    z-index: 1;
  }
  
  
  /* headline, p and product image attributes */
  
  h2, h3{
      font-weight: normal;
      font-family: Arial, Helvetica, sans-serif;
  @ -53,12 +55,15 @@ p{
      object-fit: cover;
  }
  
  
  /* item flexbox and content such as description, name, size etc */
  
  .item-container {
      display:flex;
      flex-direction: row;
  }
  
  .text{
  .item-text{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  @ -89,10 +94,18 @@ p{
    transform-origin: 100% 0;
  }
  
  
  .item-material{
    border-bottom: 2px solid black;
    width: 170px;
    margin-right: 0;
    margin-top: 90px;
    font-size: 1rem;
  }
  
  /* https://www.w3schools.com/css/css_dropdowns.asp */
  
  /* size title and dropdown menu */
  
  .sizes-title {
      position: relative;
      display: inline-block;
  @ -113,8 +126,6 @@ p{
      background-color: #ffffff;
      width: 170px;
      border: solid #dedede;
      /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
      /* z-index: 1; */
    }
    
    .dropdown-content p {
  @ -135,6 +146,29 @@ p{
      display: block;
    }
  
  /* material and care dropdown menu */
  
    .dropdown-material {
      display: none;
      position: absolute;
      background-color: #ffffff;
      width: 170px;
    }
    
    .dropdown-material p {
      color: black;
      font-weight: normal;
      margin: 0px;
      text-decoration: none;
      display: block;
    }
    
  
  .item-material:hover .dropdown-material { 
    display: block;
  }
  
  
    .arrow-down:hover{ 
      animation-name: dropdown-arrow;
      animation-duration: infinite;
  